<nav class="navbar navbar-expand navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/">
            AirHotel {% if app.environment == "dev" %}[DEV]{% endif %}
        </a>

        <ul class="nav navbar-nav">
            <li class="nav-item nav-link">
                {{ 'navbar.hello'|trans }} USERNAME ICI
            </li>
        </ul>
    </div>
</nav>