<nav class="navbar navbar-expand navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/">
            AirHotel {% if app.environment == "dev" %}[DEV]{% endif %}
        </a>

        <ul class="nav navbar-nav">
            <li class="nav-item nav-link">
                {% if app.session %}
                {{ 'navbar.hello'|trans }} USERNAME ICI
                {% else %}
                {{ 'navbar.connect'|trans }}
                {% endif %}
            </li>
            <div class="dropdown">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="languageMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-globe-americas"></i>
                </a>

                {% set params = app.request.attributes.get('_route_params') %}
                {% set frParams = params|merge({'_locale': 'fr'}) %}
                {% set enParams = params|merge({'_locale': 'en'}) %}

                <div class="dropdown-menu" aria-labelledby="languageMenu">
                    <a class="dropdown-item" href="{{ path(app.request.attributes.get('_route'), enParams) }}">EN</a>
                    <a class="dropdown-item" href="{{ path(app.request.attributes.get('_route'), frParams) }}">FR</a>
                </div>
            </div>
        </ul>
    </div>
</nav>