{% extends 'base.html.twig' %}

{% block body %}


<div class="container">
	<div class="row align-items-center">
		<div class="col-sm">
			<h1>Mon billet</h1>
		</div>
		<div class="col-sm">
			<input type="text" class="form-control" id="nbBillet" placeholder="Nb billet">
		</div>
		<div class="col-sm">
			<button type="button" class="btn btn-primary">Valider</button>
		</div>
	</div>
</div>
{% endblock %}
