#img-accueil {
    background: url("/images/hotel.jpg") no-repeat center center;
    height: 33vh;
}

#single-room {
    background: url("/images/single-room.jpg") no-repeat center center;
    height: 33vh;
}

#double-room {
    background: url("/images/double-room.jpg") no-repeat center center;
    height: 33vh;
}

#family-room {
    background: url("/images/family-room.jpg") no-repeat center center;
    height: 33vh;
}